/* global */
body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 80%;
  margin: auto;

  /* cuts off stuff that go beyond the boundaries of this class. */
  overflow: hidden;
}

/* header */
header {
  color: #fff;
  background-color: #35424a;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

/* I want all the anchor tags that are descendants of a header tag. */
header a {
  color: #fff;
  text-decoration: none;
}

#logo {
  float: left;
}

header nav {
  float: right;
}

header li {
  padding-top: 15px;
  list-style-type: none;
  float: left;
  padding-right: 20px;
  text-transform: uppercase;
}

.highlight {
  color: red;
}

nav a:hover {
  color: gray;
  font-weight: bold;
}

/* section */
section .container * {
  text-align: center;
  color: white;
  background-color: black;
}

.flashy-title {
  font-size: 350%;
}

.background-info {
  background: url("../imgs/62383657-study-student-studying-hard-and-students-studying-learning-education-laptop-on-table-warm-tone.jpg");
  background-position: -30px -100px;
}

section .flashy-title {
  margin-top: 100px;
}

section p {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Aside */
aside {
  background-color: #35424a;
  color: white;
}

aside h1 {
  margin: 30px 0px;
  float: left;
}

aside form {
  padding: 30px 0px;
  float: right;
  margin-top: 2px;
}

aside form input[type="email"] {
  float: left;
  padding: 4px;
  height: 20px;
  width: 250px;
  margin-right: 10px;
}

aside form button {
  float: left;
  border-style: none;
  background-color: red;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

/* article */
article .box {
  float: left;
  width: 31%;
  margin: 20px 10px;
  text-align: center;
}

/* setting the width automatically shrinks the height */
article .box img {
  width: 300px;
}

/* footer */
footer {
  background-color: #35424a;
  padding: 20px 0px;
  color: white;
}
